.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin-left: 150px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 95%;
    font-size: 18px;
    font-weight: bold;
    color: #1e3190;
    text-transform: uppercase;
}

.first-div-backlog {
    width: 30%;
    padding-left: 8px;
}

.second-div-backlog {
    width: 20%;
    padding-left: 8px;
}

.third-div-backlog {
    width: 50%;
    padding-left: 8px;
}

.text-align-right {
    text-align: right;
}

.category-header {
    padding-left: 12px;
}

.card-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 95%;
    background-color: #E8EAF6;
    font-size: 16px;
}

.line-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 4px;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.color-orange {
    background-color: #FFA000;
}

.color-pink {
    background-color: #f80cd1;
}

.color-green {
    background-color: #4cbd0a;
}

.card-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    width: 95%;
    background-color: #f4f3fb;
    height: 56px;
    border-radius: 4px;
}

.backlog-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}