/* dark blue: #1e3190 */

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    padding-top: 20px;
    background-color: #1e3190;
} 

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.menu-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75%;
}

.menu-navigation ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin-top: 40px;
    padding-left: 0 !important;
}

.line-navigation {
    display: flex;
    width: 0px;
    height: 18px;
    margin-right: 32px;
    transition: all 225ms ease-in-out;
    background-color: white;
}

.menu-navigation li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.menu-navigation li a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    margin-bottom: 48px;
}

h2 {
    font-size: 24px;
    color: rgb(41, 41, 41);
    margin-bottom: 4px;
}

.small-text {
    font-size: 12px;
    font-weight: bold;
}

.color-blue {
    color: #1e3190;
}

.user-img-sidebar {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 100%;
}

.d-none {
    display: none;
}

.help-video {
    margin-left: 56px;
    margin-top: 24px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}
footer a{
    text-decoration: none;
    font-size: 1.5rem;
}
.footer-nav {
    margin-bottom: 2rem;
}

@media (max-width: 769px) {
    .footer-nav {
        margin-bottom: 1rem;
    }
    footer a{
        text-decoration: none;
        font-size: 1rem;
    } 
