/* dark blue: #1e3190 */

body {
    margin     : 0;
    font-family: 'PT Sans', sans-serif;
}

.main-content {
    height          : 100vh;
    display         : flex;
    flex-direction  : column;
    align-items     : flex-start;
    justify-content : flex-start;
    background-color: rgba(244, 243, 251, 1);
}

h2 {
    font-size    : 24px;
    color        : rgb(41, 41, 41);
    margin-bottom: 4px;
}

.small-text {
    font-size  : 12px;
    font-weight: bold;
}

.color-blue {
    color: #1e3190;
}

.login-section {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 60rem;
    height         : 60rem;
}

.login-logo {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #1e3190;
    border-radius   : 50%;
    padding         : 1.25rem;
    margin-bottom   : 1.5rem;

}

.login-card {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    background-color: white;
    border          : 1px solid rgb(228, 226, 226);
    border-radius   : 0.25rem;
}

.input-section {
    display       : flex;
    flex-direction: column;
    padding       : 0.5rem;
}

.input-field {
    width : 19rem;
    height: 2rem;
}

.btn-custom {
    margin: 1.35rem;
    margin-left: 7rem;
    width: 100px;
    height: 38px;
    color: white !important;
    font-size: 16px;
    background-color: #1e3190 !important;
}

.hide-menu-btn {
    width       : 1.75rem;
    height      : 1.75rem;
    margin      : 0.5rem;
    margin-right: 1rem;
    padding     : 0.25rem;

}

@media (max-width: 769px) {
    .hide-element-menu {
        display: none;
    }
    .mobile-menu {
        position        : absolute;
        display         : flex;
        top             : 0;
        left            : 0;
        right           : 0;
        height          : 3rem;
        background-color: #1e3190;
        justify-content : space-between;
    }

    .mobile-logo {
        width      : 40px;
        height     : 40px;
        object-fit : contain;
        padding    : 0.25rem;
        margin-top : 0.25rem;
        margin-left: 16px;
    }

    .mobile-nav {
        margin-right: 16px;
    }

    .mobile-nav ul {
        display   : flex;
        width     : 100%;
        list-style: none;
    }

    .mobile-nav li {
        display   : flex;
        color     : white;
        font-size : 12px;
        margin-top: 16px;
    }

    .mobile-nav li a {
        display        : flex;
        width          : 100%;
        text-decoration: none;
        color          : white;
    }

    .user-img-mobile {
        margin-top : 8px;
        margin-left: 8px;
    }


    .main-content {
        display       : flex;
        flex-direction: column;
        margin        : 0;
        margin-top    : 32px;
    }
    .login-section {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .login-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 1px solid rgb(228, 226, 226);
        border-radius: 0.25rem;
    }
}

@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }

}

@media (max-width: 412px) {
    .mobile-nav {
        display: none;
    }
}

@media (min-width: 412px) {
    .hide-menu-btn {
        display: none;
    }
}