.main-content {
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : center;
    height         : 100vh;
    margin-left    : 150px;
}

.card-header {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 40px;
    width          : 95%;
    font-size      : 18px;
    font-weight    : bold;
    color          : #1e3190;
    text-transform : uppercase;
}

.first-div-backlog-headline {
    width: 30%;
}

.first-div-backlog {
    width       : 30%;
    padding-left: 8px;
}

.second-div-backlog {
    width       : 20%;
    padding-left: 8px;
}

.third-div-backlog {
    width       : 50%;
    padding-left: 8px;
}

.text-align-right {
    text-align: right;
}

.category-header {
    padding-left: 20px;
}

.card-custom {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 72px;
    width           : 95%;
    background-color: #E8EAF6;
    font-size       : 16px;
}

.line-category {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    width          : 4px;
    height         : 100%;
    border-radius  : 5px 0 0 5px;
}

.color-orange {
    background-color: #FFA000;
}

.color-pink {
    background-color: #f80cd1;
}

.color-green {
    background-color: #4cbd0a;
}

.card-table-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 100%;
}

.card {
    width           : 95%;
    background-color: #f4f3fb;
    height          : 56px;
    border-radius   : 4px;
    margin-top      : 4px;
    margin-bottom   : 4px;
}

.backlog-screen {
    display        : flex;
    flex-direction : column-reverse;
    align-items    : center;
    justify-content: flex-start;
    width          : 100%;
}
.d-none {
    display: none;
}

/**
 * Part of the mobile menu.
 */
.hide-menu-btn {
    width       : 1.35rem;
    height      : 1.35rem;
    margin      : 0.75rem;
    margin-right: 16px;
    padding     : 0.25rem;
    cursor      : pointer;
}


.overlay-menu {
    position        : absolute;
    top             : 0;
    left            : 0;
    right           : 0;
    background-color: lightgray;
    width           : 100%;
    height          : 100vh;
    z-index         : 90;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.menu-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    margin: 8px;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 99;
    cursor: pointer;
}

.d-none {
    display: none;
}


@media (max-width: 769px) {
    .hide-element-menu {
        display: none;
    }

    .main-content {
        display       : flex;
        flex-direction: column;
        margin        : 0;
        margin-top    : 32px;
        height: 100%;
    }

    .mobile-menu {
        position        : absolute;
        display         : flex;
        top             : 0;
        left            : 0;
        right           : 0;
        height          : 3rem;
        background-color: #1e3190;
        justify-content : space-between;
    }

    .mobile-logo {
        width      : 1.75rem;
        height     : 1.75rem;
        object-fit : contain;
        padding    : 0.25rem;
        margin-top : 0.5rem;
        margin-left: 0.5rem;
    }

    .mobile-nav {
        display     : flex;
        align-items : center;
        margin-right: 100px;
    }

    .mobile-nav ul {
        display   : flex;
        width     : 100%;
        list-style: none;
    }

    .mobile-nav li {
        display   : flex;
        color     : white;
        font-size : 12px;
        margin-top: 16px;
    }

    .mobile-nav li a {
        display        : flex;
        width          : 100%;
        text-decoration: none;
        color          : white;
    }

    .user-img-mobile {
        margin-top : 8px;
        margin-left: 8px;
    }
}


@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }

}

@media (max-width: 412px) {
    .mobile-nav {
        display: none;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color          : white;
        font-size      : 1.5rem;
    }

    a:hover {
        color: #1e3190;
    }
}

@media (min-width: 412px) {
    .hide-menu-btn {
        display: none;
    }
}