.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin-left: 150px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 95%;
}

.card-header table {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #1e3190;
    text-transform: uppercase;
}

.first-td-backlog {
    width: 30%;
}

.second-td-backlog {
    width: 20%;
}

.third-td-backlog {
    width: 50%;
}

.text-align-right {
    text-align: right;
}

.category-header {
    padding-left: 12px;
}

.card-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 95%;
    background-color: #E8EAF6;
    font-size: 16px;
}

.line-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 4px;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.color-orange {
    background-color: #FFA000;
}

.card-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-custom table {
    width: 100%;
}

.card-custom td {
    padding-right: 8px;
    padding-left: 8px;
}