.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin-left: 150px;
}

.headline{
    margin-left: 40px;
    margin-top: 22px;
}

.headline h2 {
    font-weight: bold;
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(244, 243, 251);
    padding: 24px;
    width: 952px;
    margin-left: 40px;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.profileItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

#fileToUpload {
    height: 0px;
    width: 0px; 
    overflow:hidden;
}

.upload-elements {
    display: flex;
    flex-direction: row;
}

.upload {
    height: 0px;
    width:0px; 
    overflow: hidden;
}

.button-upload {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;
    color: transparent; 
    text-decoration: none;
    font-size: 14px;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background-color: rgb(80, 80, 80);
}

.btn-custom {
    margin-left: 8px;
}
