/* dark blue: #1e3190 */

body {
    margin     : 0;
    font-family: 'PT Sans', sans-serif;
}

.main-content {
    height          : 100vh;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    background-color: rgba(244, 243, 251, 1);
}

h2 {
    font-size    : 24px;
    color        : rgb(41, 41, 41);
    margin-bottom: 4px;
}

.small-text {
    font-size  : 12px;
    font-weight: bold;
}

.color-blue {
    color: #1e3190;
}

.login-section {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 60rem;
    height         : 60rem;
}

.login-logo {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #1e3190;
    border-radius   : 40%;
    padding         : 1.25rem;
    margin-bottom   : 0.5rem;

}

.login-card {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    width           : 26rem;
    height          : 20rem;
    background-color: white;
    border          : 1px solid rgb(228, 226, 226);
    border-radius   : 0.25rem;
}

.input-section {
    display       : flex;
    flex-direction: column;
    padding       : 0.5rem;
}

.input-field {
    width : 19rem;
    height: 2rem;
}

.btn-custom {
    margin          : 0.35rem;
    margin-left     : 13rem;
    width           : 6.5rem;
    height          : 2.5rem;
    color           : white;
    font-size       : 16px;
    background-color: #1e3190;
    border          : 1px solid lightgray;
    border-radius   : 0.25rem;
}