.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin-left: 150px;
}

.headline{
    margin-left: 40px;
    margin-top: 22px;
}

.headline h2 {
    font-weight: bold;
}

.input-field {
    background-color: rgb(244, 243, 251);
    width: 1000px;
    margin-left: 40px;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.title-input-field{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 35px;
    
}

.title-name{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(55, 55, 129);
    margin-bottom: 20px;
}

.input{
    width: 415px;
    height: 45px;
    padding: 5px;
    font-size: 30px
}

.select-input{
    width: 414px;
    height: 62px;
    padding: 5px;
    font-size: 30px;
}


.assigned-title-name{
    margin-bottom: 64px;
}

.text-input{
    width: 400px;
    height: 145px;
    padding: 5px;
    font-size: 30px
}


.user-img{
    width: 50px;
}


.assigned-div {
    width: 410px;
}

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 30px;
    margin-left: 108px;
    margin-top: 100px;
}

.btn-custom {
    width: 200px;
    margin-left: 8px;
}

.mdc-button__label{
    
    font-weight: bold;
    font-size: 16px;
    
}

.input-field textarea {
    width: 410px;
}